node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
/debug.txt
/info.txt
/deployments/*

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/*


# testing
/coverage

# production
/build
